* {
    font-family: "Poppins", serif;
    font-size: 1rem;
}

body {
    --brand: #2135a6;

    --text-primary: #292524;
    --text-secondary: #57534e;
    --text-tertiary: #8f8881;
    --text-highlight: #e43a12;

    --surface-primary: #ffffff;
    --surface-secundary: #fee7d6;
    --surface-disable: #e7e5e4;

    --stroke-default: #d6d3d1;
    --stroke-highlight: #f3541c;

    --semantic-error: #dc2626;
}

.dark-mode{
    --brand:#171717;

    --text-primary: #fafafa;
    --text-secondary:#898989;
    --text-tertiary: #8f8881;
    --text-highlight: #e43a12;

    --surface-primary: #121212;
    --surface-secundary: #282828;
    --surface-disable: #3f3f3f;

    --stroke-default: #2c2c2c;
    --stroke-highlight: #f3541c;

    --semantic-error: #dc2626;
}

h1,
h2,
h3,
h4 {
    line-height: 120%;
    font-weight: bold;
    font-family: "Poppins", serif;
    color: var(--text-primary);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-family: "Poppins", serif;
    color: var(--text-secondary);
}

a:link, a:visited {
    color: var(--text-highlight);
}

button {
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

button:hover {
    transform: scale(1.1);
}

input,
button,
select {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--stroke-default);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--text-primary);
    background-color: var(--surface-primary)
}

input:disabled {
    color: var(--text-tertiary);
    background-color: var(--surface-disable);
}

.radio-card:hover,
.file-container:has(input:focus),
:is(input, select, button, a):focus {
    border-color: var(--text-highlight);
    outline: solid 0.24rem var(--surface-secundary);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--surface-primary);
}

.form__input-container:has(select) {
    position: relative;
}

.form__input-container:has(select)::before {
    position: absolute;
    content: "";
    display: block;

    width: 1.5rem;
    height: 1.5rem;

    right: 0.5rem;
    top: 45%;

    background: url("../imgs/arrow-down.svg") no-repeat center;
    background-image: 100%;
}

.form__input-container:has(select:focus)::before {
    rotate: 180deg;
}

.modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);

    & .modal__card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        max-width: 450px;

        background-color: var(--surface-primary);

        padding: 2rem;
        border-radius: 8px;
        border: 1px solid var(--brand);
    }

    & .modal__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        & img {
            width: 35%
        }
    }
    
}

.hidde {
    display: none;
}